*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    list-style: none;
}

.a{
    text-decoration: none;
}

.top{
    background: url(../img/apple-1868496_1920.jpg);
    height: 560px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

i{
    font-size: 13px;
}

.line{
    width: 20%;
    height: 5px;
    margin-left: 40%;
} 

.fb{
    border-radius: 15px;
}

input, textarea{
    width: 85%;
    height: 40px;
    border-radius: 7px;
    border: 1px solid skyblue;
    padding: 10px;
}

input:focus, textarea:focus{
    outline: 2px solid skyblue;
}

textarea{
    height: 200px;
}

.sub{
    border: none;
}